<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <nav>
    <a href="{{url_for('admin_loggedin')}}"> <button style="background: #0000006e !important; color:white;" type="button" name="button">home</button> </a>
  </nav>
  <link rel="stylesheet" href="static/css/forms.css">
  <link rel="stylesheet" href="image.html">
  <body style="background:url(static/img/add-books.jpg)">
  <div style="color:red" class="">
    {% for message in get_flashed_messages() %}
    {{message}}
    {%endfor%}
  </div>
    <div class="center">
      <form style="" class="" action="{{url_for('add_book')}}" method="post">
        <b></b>serialno</b> <input type="number" style"width:70%;" name="serialno" value="" placeholder="serial number"><br>
        <b>name</b> <input type="text" name="name" value="" placeholder="name of the book"><br>
        <b>author</b> <input type="text" name="author" value="" id="author" placeholder="author"><br>
        <b>section</b> <input type="text" name="section" value="" placeholder="section"><br>
        <b>quantity</b> <input type="number" name="quantity" value="" placeholder="nuber of books available"><br>
        <input type="submit" name="submit" value="SUBMIT">
      </form>

    </div>
  </body>
</html>
