<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="static/css/forms.css">
    <h1 style="text-align:center;">Welcome <span style="color:purple;">{{user}}</span></h1>
  </head>
  <nav>
    <a href="{{url_for('admin_logout')}}"> <button style="background: #0000006e !important; color:white;" type="button" name="button">logout</button> </a>
  </nav>
  <link rel="stylesheet" href="image.html">
  <body class="center" style="background: url(static/img/bg-09.jpg); width:40% !important">
  <div style="color:red" class="admin_loggedin">
    {%for message in get_flashed_messages()%}
    {{message}}
    {%endfor%}
  </div>
  <div >
    <a href="{{url_for('delete')}}"> <button style="background: #0000006e !important; color:white;" type="button" name="button">delete user</button> </a>
    <a href="{{url_for('users')}}"> <button style="background: #0000006e !important; color:white;" type="button" name="button">all users</button> </a>
    <a href="{{url_for('add_hostel')}}"> <button style="background: #0000006e !important; color:white;" type="button" name="button">add hostel</button> </a>
    <a href="{{url_for('add_book')}}"> <button style="background: #0000006e !important; color:white;" type="button" name="button">add book</button> </a>
    <a href="{{url_for('borrowedbooks')}}"> <button style="background: #0000006e !important; color:white;" type="button" name="button">borrowed books</button> </a>
  </div>

  </body>
</html>
