<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <nav>
    <a href="{{url_for('admin_loggedin')}}"> <button style="background: #0000006e !important; color:white;" type="button" name="button">home</button> </a>
  </nav>
  <div class="all">
    {%for message in get_flashed_messages()%}
    {{message}}
    {%endfor%}
  </div>

  <body style="background:url(landscape.jpg)">
    <!-- <h3>Delete</h3>
    <form class="" action="{{url_for('delete')}}" method="post">
      <input type="text" name="name" value="" placeholder="name">
      <input type="submit" name="submit" value="SUBMIT">
    </form> -->
    <h3>search</h3>
  <!-- <form class="" action="{{url_for('search_user')}}" method="post">
    <input style="background: #0000006e !important;" type="text" name="search" id="search" placeholder="search user" value=""><br>
    <select required style="background: #0000006e !important;" id="filter" name="filter">
    <option value="None" selected>Filter by</option>
    <option value="username">username</option>
    <option value="first name">first name</option>
    <option value="last name">last name</option>
    <option value="other name">other name(s)</option>
  </select><br> -->
    <!-- <input style="background: #0000006e !important;" type="submit" name="search" value="search"><br>
  </form> -->
    <h3>users</h3>
    <a href="{{url_for('users')}}"></a>
    <thead>
      <tr>
        <table border="1">
          <tr>
            <th>Name</th>
            <!-- <th>password</th> -->
            <th> booked hostel </th>
            <th>unbooked</th>

          </tr>
            {%for user in users%}
            <tr>
              <td>{{user.username}}</td>
              <!-- <td>{{user.password}}</td> -->
              <td> {{user.hostel}} </td>
              <td><form class="" action="{{url_for('unbookhostel')}}" method="post">
                <input type="hidden" name="username" value="{{user.name}}">
                <input style="background: #0000006e !important;" type="submit" value="unbook">
              </form> </td>
            </tr>
            {%endfor%}
        </table>
      </tr>
    </thead>
  </body>
</html>
<style media="screen">
img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
}
table{
  border-style: doted;
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
body{
  text-align: center;
}


</style>
