<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <nav>
    <a href="{{url_for('admin_loggedin')}}"> <button style="background: auto; " type="button" name="button">home</button> </a>
  </nav>
  <div class="">
    {%for message in get_flashed_messages() %}
    {{message}}
    {%endfor%}
  </div>
  <body style="background:url(landscape.jpg)">
    <table border="1">
      <tr>
        <th>Name of borrower</th>
        <th>serial number</th>
        <th>Borrowed Date</th>
        <th>Return Date</th>
        <th>Remaining Days</th>
      </tr>
      {%for book in books%}
      <tr>
        <td>{{book.name}}</td>
        <td>{{book.serialno}}</td>
        <td>{{book.borrowed_date}}</td>
        <td>{{book.return_date}}</td>
        <td>{{book.return_date - now}}</td>
      </tr>
      {%endfor%}
    </table>
  </body>
</html>
<style media="screen">
table{
  border-style: doted;
  width: 80%;
  height: 500px;
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px
}
body{
  background: url()

}

</style>
