<html lang="en" dir="ltr">
<nav>
  <a href="{{url_for('success')}}"> <button style="background: #0000006e !important; color:white;" type="button" name="button">return home</button> </a>
</nav>
  <head>

    <meta charset="utf-8">
    <title style text-color:blue>TITLE</title>
  </head>
  <link rel="stylesheet" href="static/css/forms.css">
  <link rel="stylesheet" href="image.html">
  <nav>
    <!-- <a href="{{url_for('test')}}">signup</a> -->
  </nav>
  <body class="center">
    <div style="color:red" class="changepass">
      {% for message in get_flashed_messages()%}
      {{ message }}
      {% endfor %}
    </div>
    <div>
    <form action="{{url_for('changepass')}}" method="post">
      <b>name</b> <input type="text" name="name" id="name" value="" placeholder="name"><br>
      <b>password</b> <input type="password" name="prev_pass" id="prev_pass" placeholder="previous password" value=""><br>
      <b>repeat password</b> <input type="password" name="new_pass" value="" id="new_pass" placeholder="new password">
      <input type="submit" name="submit" value="SUBMIT">
    </form>
  </div>


  </body>
</html>
<style media="screen">
  body {
    background: url(static/img/landscape.jpg)
  }
</style>
