<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="css/forms.css") }}"/>
  </head>
  <nav>
    <a href="{{url_for('success')}}"> <button style="background: #0000006e !important; color:white;" type="button" name="button">return home</button> </a>
  </nav>
  <div class="center">
  <div style="color:red">
    {%for message in get_flashed_messages()%}
    {{message}}
    {%endfor%}

  </div>
  <div>
    <form class="" action="{{url_for('book_hostel')}}" method="post">
      <b>username</b> <input type="text" name="username" value="{{session['user']}}" id="username" placeholder="username" disabled/>
      <b>choose hostel</b>
      <select id="hostel" name="hostel">
      {%for hostel in hostels%}
      <option value="{{hostel.name}}">{{hostel.name}}</option>
      {%endfor%}
      </select>
    <input type="submit" name="submit" value="SUBMIT">
    </form>
  </div>



  </body>
</html>
<style media="screen">
  body {
    background: url(bg-09.jpg)
  }
</style>
