<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="static/css/forms.css">
    <link rel="stylesheet" href="image.html">
  </head>
  <nav>
    <a href="{{url_for('success')}}"> <button style="background: #0000006e !important; color:white;" type="button" name="button">return home</button> </a>
  </nav>
  <div class="center">
  <div style="color:red">
    {%for message in get_flashed_messages()%}
    {{message}}
    {%endfor%}

  </div>
  <div>
    <form class="" action="{{url_for('book_hostel')}}" method="post">
      <b>username</b> <input type="text" name="username" value=""id="username" placeholder="username">
      <b>hostel name</b> <input type="text" name="hostel" value="" placeholder="book hostel">
    <input type="submit" name="submit" value="SUBMIT">
    </form>
  </div>

  <div>
    <h3>available hostels</h3>
    <table>
      {%for hostel in hostels%}
      <tr>
        <td>{{hostel.name}}</td>
      </tr>
      {%endfor%}
    </table>
  </div>


  </body>
</html>
<style media="screen">
  body {
    background: url(static/img/bg-09.jpg)
  }
</style>
