<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="static/img/default.jpg">
    <link rel="stylesheet" href="static/img/godwill.jpg">
    <link rel="stylesheet" href="static/img/enice.jpg">
    <link rel="stylesheet" href="static/image/bg-09.jpg">
    <link rel="stylesheet" href="static/image/landscape.jpg">
    <link rel="stylesheet" href="static/image/add-book.jpg">
    <link rel="stylesheet" href="static/image/default.jpg">
    <link rel="stylesheet" href="static/image/main-bg.jpg">
    <link rel="stylesheet" href="static/image/database.jpg">
    <link rel="stylesheet" href="static/image/books.jpg">
    <link rel="stylesheet" href="static/image/add-books.jpg">
    <link rel="stylesheet" href="static/image/logged-in.jpg">
    <link rel="stylesheet" href="static/image/login.jpg">

  </head>
  <body>

  </body>
</html>
