<!DOCTYPE html>
<link href="/css/forms.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="css/forms.css") }}"/>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title style text-color:blue>TITLE</title>
  </head>

  <body class="center" style="background-image: url({{ url_for("static",filename="bg-09.jpg") }}">
    <a href="{{url_for('test')}}" > <button type="button" style="background: #0000006e !important; color:white;" name="button">signup</button></a>
    <div style="color:red;">
      {% for message in get_flashed_messages()%}
      {{ message }}
      {% endfor %}
    </div>

    <div >
    <form class="container" action="{{url_for('login')}}" method="post">
      <div style="color:white; background:#0000006e"><b>name</b></div>
      <input type="text" name="name" id="name" value="" placeholder="name"><br>
      <div style="color:white; background:#0000006e"><b>password</b></div>
      <input type="password" name="password" id="password" placeholder="password" value=""><br>
      <input type="submit" name="submit" value="LOGIN">

    </form>
    </div>
    <div class="footer">
      <footer >&copy <span>Godwill</span> </footer>
    </div>



  </body>
<script src="{{ url_for("static",filename="css/forms.css") }}"></script>

</html>
