<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="css/forms.css") }}"/>
  </head>
  <body class="center">
    <div style="color:red">
      {% for message in get_flashed_messages()%}
      {{ message }}
      {% endfor %}
    </div>
    <div class="">
    <form class="" action="{{url_for('superadmin')}}" method="post">
      <input type="text" name="username" value="" placeholder="username"><br>
      <input type="password" name="password" value="" placeholder="password"><br>
      <input type="submit" name="submit" value="SUBMIT">
    </form>
  </div>
  </body>
</html>
